<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 137.4 MB/s eta 0:00:00
Downloading numpy-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 206.6 MB/s eta 0:00:00
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 tzdata-2025.1

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [3]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [4]:
duplicate_rows = df[df.duplicated()]
num_duplicated_rows = len(duplicate_rows)
num_duplicated_rows

0

In [5]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
65432    False
65433    False
65434    False
65435    False
65436    False
Length: 65437, dtype: bool

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [8]:
df.drop_duplicates(inplace=True)
df.shape

(65437, 114)

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [12]:
missing_values = df.isnull()
print(missing_values)
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mode()[0])

       ResponseId  MainBranch    Age  Employment  RemoteWork  Check  \
0           False       False  False       False       False  False
1           False       False  False       False       False  False
2           False       False  False       False       False  False
3           False       False  False       False        True  False
4           False       False  False       False        True  False
...           ...         ...    ...         ...         ...    ...
65432       False       False  False       False       False  False
65433       False       False  False       False       False  False
65434       False       False  False       False       False  False
65435       False       False  False       False       False  False
65436       False       False  False       False        True  False

       CodingActivities  EdLevel  LearnCode  LearnCodeOnline  ...  \
0                 False    False      False             True  ...
1                 False    False      False            False  ...
2                 False    False      False            False  ...
3                  True    False      False            False  ...
4                  True    False      False            False  ...
...                 ...      ...        ...              ...  ...
65432             False    False      False             True  ...
65433             False     True       True             True  ...
65434             False    False      False            False  ...
65435             False    False      False            False  ...
65436              True     True       True             True  ...

       JobSatPoints_6  JobSatPoints_7  JobSatPoints_8  JobSatPoints_9  \
0                True            True            True            True
1               False           False           False           False
2                True            True            True            True
3                True            True            True            True
4                True            True            True            True
...               ...             ...             ...             ...
65432            True            True            True            True
65433            True            True            True            True
65434            True            True            True            True
65435           False           False           False           False
65436            True            True            True            True

       JobSatPoints_10  JobSatPoints_11  SurveyLength  SurveyEase  \
0                 True             True          True        True
1                False            False          True        True
2                 True             True         False       False
3                 True             True         False       False
4                 True             True         False       False
...                ...              ...           ...         ...
65432             True             True          True        True
65433             True             True          True        True
65434             True             True          True        True
65435            False            False          True        True
65436             True             True          True        True

       ConvertedCompYearly  JobSat
0                    False    True
1                    False    True
2                    False    True
3                    False    True
4                    False    True
...                    ...     ...
65432                False    True
65433                False    True
65434                False    True
65435                False    True
65436                False    True

[65437 rows x 114 columns]

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [13]:
df.ConvertedCompYearly.value_counts().index

Index([ 64444.0,  53703.0,  75184.0,  85925.0, 107406.0, 150000.0, 120000.0,
       200000.0,  42962.0,  48333.0,
       ...
       139000.0, 111655.0, 152615.0,   4364.0,  15637.0,   9711.0, 950000.0,
        51448.0, 447569.0,   4738.0],
      dtype='float64', name='ConvertedCompYearly', length=6113)

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [19]:
df.CodingActivities.value_counts().index

Index(['Hobby', 'I don’t code outside of work',
       'Hobby;Professional development or self-paced learning from online courses',
       'Hobby;Contribute to open-source projects',
       'Professional development or self-paced learning from online courses',
       'Hobby;Contribute to open-source projects;Professional development or self-paced learning from online courses',
       'Hobby;School or academic work', 'Hobby;Freelance/contract work',
       'Hobby;Professional development or self-paced learning from online courses;Freelance/contract work',
       'Hobby;Bootstrapping a business',
       ...
       'Contribute to open-source projects;Other (please specify):;School or academic work;Professional development or self-paced learning from online courses',
       'Contribute to open-source projects;Other (please specify):;Bootstrapping a business',
       'Other (please specify):;School or academic work;Freelance/contract work',
       'Other (please specify):;School or academic work;Professional development or self-paced learning from online courses;Freelance/contract work',
       'Contribute to open-source projects;Other (please specify):;Bootstrapping a business;Freelance/contract work',
       'Hobby;Contribute to open-source projects;Other (please specify):;School or academic work;Freelance/contract work',
       'Other (please specify):;Bootstrapping a business;School or academic work',
       'Contribute to open-source projects;Other (please specify):;Bootstrapping a business;School or academic work;Professional development or self-paced learning from online courses',
       'Hobby;Contribute to open-source projects;Other (please specify):;Bootstrapping a business;School or academic work',
       'Hobby;Other (please specify):;Bootstrapping a business;School or academic work;Professional development or self-paced learning from online courses;Freelance/contract work'],
      dtype='object', name='CodingActivities', length=118)

In [20]:
df.EdLevel.value_counts().index

Index(['Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
       'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Some college/university study without earning a degree',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
       'Associate degree (A.A., A.S., etc.)', 'Primary/elementary school',
       'Something else'],
      dtype='object', name='EdLevel')

In [22]:
df.LearnCode.value_counts().index

Index(['Other online resources (e.g., videos, blogs, forum, online community)',
       'Books / Physical media;Other online resources (e.g., videos, blogs, forum, online community)',
       'Other online resources (e.g., videos, blogs, forum, online community);School (i.e., University, College, etc)',
       'Books / Physical media;Other online resources (e.g., videos, blogs, forum, online community);Online Courses or Certification',
       'Other online resources (e.g., videos, blogs, forum, online community);Online Courses or Certification',
       'Books / Physical media;Other online resources (e.g., videos, blogs, forum, online community);School (i.e., University, College, etc)',
       'Books / Physical media;On the job training;Other online resources (e.g., videos, blogs, forum, online community);School (i.e., University, College, etc);Online Courses or Certification',
       'Books / Physical media;Other online resources (e.g., videos, blogs, forum, online community);School (i.e., University, College, etc);Online Courses or Certification',
       'On the job training;Other online resources (e.g., videos, blogs, forum, online community);Online Courses or Certification',
       'Books / Physical media;On the job training;Other online resources (e.g., videos, blogs, forum, online community);Online Courses or Certification',
       ...
       'Books / Physical media;Other online resources (e.g., videos, blogs, forum, online community);Coding Bootcamp;Friend or family member;Other (please specify):',
       'Colleague;Other online resources (e.g., videos, blogs, forum, online community);Online Courses or Certification;Coding Bootcamp;Other (please specify):',
       'Colleague;On the job training;Online Courses or Certification;Coding Bootcamp;Other (please specify):',
       'On the job training;Coding Bootcamp;Other (please specify):',
       'Books / Physical media;Colleague;On the job training;School (i.e., University, College, etc);Coding Bootcamp;Friend or family member',
       'On the job training;Coding Bootcamp;Friend or family member',
       'Books / Physical media;On the job training;School (i.e., University, College, etc);Online Courses or Certification;Friend or family member;Other (please specify):',
       'Books / Physical media;Coding Bootcamp;Friend or family member;Other (please specify):',
       'Colleague;On the job training;School (i.e., University, College, etc);Coding Bootcamp;Friend or family member',
       'School (i.e., University, College, etc);Coding Bootcamp;Friend or family member'],
      dtype='object', name='LearnCode', length=418)

In [23]:
df.JobSatPoints_6.value_counts().index

Index([  0.0,  20.0,  10.0,  30.0,  15.0,  25.0,  50.0,  40.0, 100.0,  80.0,
         5.0,  90.0,  60.0,  70.0,  35.0,   8.0,  75.0,   7.0,   9.0,  12.0,
        45.0,  95.0,  85.0,  18.0,   6.0,  33.0,   2.0,  17.0,  65.0,   1.0,
        13.0,   3.0,  11.0,  16.0,  22.0,  14.0,  55.0,   4.0,  23.0,  99.0,
        19.0,  28.0,  34.0,  24.0,  21.0,  27.0,  26.0,  29.0,  12.5,  88.0,
        78.0,  32.0,  87.0,  98.0,  36.0,  89.0,  37.0,  77.0,  31.0,  81.0,
        68.0,  56.0,  86.0,  76.0,  69.0,  33.3,  97.0,  43.0,  66.0,  67.0,
       33.33,  42.0,  6.25,  39.0,  57.0,  82.0,  61.0,  46.0,  17.5,  73.0,
        94.0,  96.0,  52.0,  49.0,  91.0,  41.0,  74.0,  51.0,  48.0,  44.0,
        64.0,  54.0,  63.0],
      dtype='float64', name='JobSatPoints_6')

In [24]:
df.JobSatPoints_7.value_counts().index

Index([  0.0,  20.0,  10.0,  30.0,  15.0,  25.0,   5.0,  50.0, 100.0,  40.0,
        80.0,  90.0,  70.0,  60.0,  35.0,   8.0,  75.0,   9.0,   7.0,  12.0,
        85.0,  95.0,  18.0,  33.0,  45.0,   6.0,   1.0,   3.0,   4.0,  13.0,
        17.0,  14.0,   2.0,  16.0,  65.0,  11.0,  22.0,  55.0,  99.0,  23.0,
        19.0,  24.0,  27.0,  26.0,  28.0,  21.0,  32.0,  34.0,  98.0,  89.0,
        44.0,  37.0,  12.5,  29.0,  88.0,  68.0,  31.0,  92.0,  56.0,  91.0,
        69.0,  87.0,  48.0,  97.0,  46.0,  33.3,  78.0,  39.0,  77.0,  54.0,
       3.125,  81.0,  94.0, 33.33,  61.0,  93.0, 18.75,  73.0,  49.0,  18.5,
        83.0,  96.0,  82.0,  42.0,  51.0,  72.0,  86.0,  38.0,  67.0,  17.5,
        36.0],
      dtype='float64', name='JobSatPoints_7')

In [25]:
df.JobSatPoints_8.value_counts().index

Index([  0.0,  20.0,  10.0,  30.0,  15.0,   5.0,  25.0,  50.0, 100.0,  40.0,
        80.0,  90.0,  70.0,  60.0,  35.0,   8.0,   7.0,  75.0,  12.0,   9.0,
         2.0,   1.0,  95.0,   6.0,   3.0,  18.0,   4.0,  45.0,  85.0,  33.0,
        14.0,  11.0,  17.0,  65.0,  16.0,  22.0,  13.0,  99.0,  23.0,  55.0,
        34.0,  24.0,  28.0,  27.0,  19.0,  77.0,  29.0,  88.0,  12.5,  21.0,
        66.0,  67.0,  42.0,  26.0,  98.0,  38.0,  68.0,  62.0,  97.0,  79.0,
        69.0,  89.0,  32.0,  37.0,  43.0,  49.0,  76.0,  87.0,  57.0,  44.0,
        83.0,  78.0,  92.0,  58.0,  39.0,  84.0,  31.0, 33.33,  53.0,   7.5,
        94.0,  33.3,  93.0,  67.5,  59.0,  36.0,  47.0,  56.0,  86.0],
      dtype='float64', name='JobSatPoints_8')

In [26]:
df.JobSatPoints_9.value_counts().index

Index([  0.0,  10.0,  20.0,   5.0,  15.0,  30.0,  50.0, 100.0,  25.0,  80.0,
        40.0,  70.0,  90.0,  60.0,   8.0,   7.0,   2.0,   9.0,  75.0,   3.0,
         1.0,  35.0,   6.0,  12.0,  95.0,   4.0,  85.0,  18.0,  11.0,  45.0,
        13.0,  65.0,  14.0,  17.0,  55.0,  16.0,  33.0,  22.0,  99.0,  19.0,
        23.0,  34.0,  88.0,  24.0,  98.0,  26.0,  67.0,  21.0,  32.0,  69.0,
        12.5,  89.0,  76.0,  66.0,  31.0,  27.0,  29.0,  92.0,  28.0,  77.0,
        68.0,  97.0,  44.0,  37.0,  59.0,  42.0,  71.0,   2.5,  82.0,  56.0,
        91.0,   1.5,  81.0,  33.3,  6.25,  79.0,   6.5,  3.75,  93.0,  14.5,
         9.5,  87.0,  58.0,  86.0,  53.0],
      dtype='float64', name='JobSatPoints_9')

In [27]:
df.JobSatPoints_10.value_counts().index

Index([  0.0,  10.0,   5.0,  20.0, 100.0,  15.0,  50.0,  30.0,  80.0,  90.0,
        70.0,  60.0,  40.0,   1.0,  25.0,   2.0,   8.0,   3.0,   7.0,   9.0,
         6.0,  75.0,   4.0,  12.0,  85.0,  95.0,  11.0,  65.0,  14.0,  35.0,
        13.0,  99.0,  16.0,  18.0,  55.0,  17.0,  33.0,  45.0,  69.0,  22.0,
        19.0,  88.0,  23.0,  89.0,  98.0,  12.5,  21.0,  54.0,  77.0,  78.0,
        87.0,  66.0,  67.0,  96.0,  92.0,  84.0,  63.0,   1.5,  24.0,  6.25,
        26.0,  81.0,  49.0,  32.0,  79.0,  94.0,  57.0,  82.0,  14.5,  93.0,
        43.0,  74.0,  97.0,  28.0,  34.0],
      dtype='float64', name='JobSatPoints_10')

In [28]:
df.JobSatPoints_11.value_counts().index

Index([  0.0,  10.0,   5.0,  20.0,  50.0,  15.0, 100.0,  30.0,  80.0,  60.0,
        90.0,  70.0,  40.0,   1.0,   8.0,   2.0,  25.0,   3.0,   7.0,   6.0,
         9.0,   4.0,  75.0,  12.0,  11.0,  85.0,  95.0,  35.0,  65.0,  14.0,
        13.0,  45.0,  18.0,  16.0,  55.0,  17.0,  22.0,  99.0,  19.0,  89.0,
        66.0,  98.0,  88.0,  24.0,  67.0,  77.0,  32.0,  76.0,  78.0,  33.0,
        21.0,  12.5,  94.0,  42.0,  87.0,  34.0,  79.0,  44.0,  29.0,  97.0,
        86.0,  26.0,  96.0,  36.0,  31.0,  54.0,  69.0,  84.0,   7.5,  28.0,
        64.0,  37.0,  37.5,  68.0,  71.0,  53.0,  59.0,  49.0,  73.0],
      dtype='float64', name='JobSatPoints_11')

In [29]:
df.SurveyLength.value_counts().index

Index(['Appropriate in length', 'Too long', 'Too short'], dtype='object', name='SurveyLength')

In [30]:
df.Age.value_counts().index

Index(['25-34 years old', '35-44 years old', '18-24 years old',
       '45-54 years old', '55-64 years old', 'Under 18 years old',
       '65 years or older', 'Prefer not to say'],
      dtype='object', name='Age')

In [31]:
df.MainBranch.value_counts().index

Index(['I am a developer by profession',
       'I am not primarily a developer, but I write code sometimes as part of my work/studies',
       'I am learning to code', 'I code primarily as a hobby',
       'I used to be a developer by profession, but no longer am'],
      dtype='object', name='MainBranch')

In [32]:
df.RemoteWork.value_counts().index

Index(['Hybrid (some remote, some in-person)', 'Remote', 'In-person'], dtype='object', name='RemoteWork')

In [33]:
df.Employment.value_counts().index

Index(['Employed, full-time',
       'Independent contractor, freelancer, or self-employed',
       'Student, full-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed',
       'Not employed, but looking for work', 'Employed, part-time',
       'Student, full-time;Employed, part-time',
       'Employed, full-time;Student, full-time',
       'Employed, full-time;Student, part-time',
       'Student, full-time;Not employed, but looking for work',
       ...
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Not employed, but looking for work;Not employed, and not looking for work;Employed, part-time',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time;Employed, part-time',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
       'Student, full-time;Retired',
       'Employed, full-time;Not employed, but looking for work;Student, part-time',
       'Not employed, and not looking for work;Student, part-time;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired'],
      dtype='object', name='Employment', length=110)

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.