<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Impute Missing Values**

Estimated time needed: **30** minutes

In this lab, you will practice essential data wrangling techniques using the Stack Overflow survey dataset. The primary focus is on handling missing data and ensuring data quality. You will:

- **Load the Data:** Import the dataset into a DataFrame using the pandas library.

- **Clean the Data:** Identify and remove duplicate entries to maintain data integrity.

- **Handle Missing Values:** Detect missing values, impute them with appropriate strategies, and verify the imputation to create a complete and reliable dataset for analysis.

This lab equips you with the skills to effectively preprocess and clean real-world datasets, a crucial step in any data analysis project.

## Objectives

In this lab, you will perform the following:

-   Identify missing values in the dataset.

-   Apply techniques to impute missing values in the dataset.
  
-   Use suitable techniques to normalize data in the dataset.

-----

#### Install needed library

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset Into a Dataframe

#### **Read Data**
<p>
The functions below will download the dataset into your browser:
</p>

In [28]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

### Step 3. Finding and Removing Duplicates
##### Task 1: Identify duplicate rows in the dataset.

In [5]:
duplicate_rows = df[df.duplicated()]
num_duplicate_rows = len(duplicate_rows)
num_duplicate_rows

0

##### Task 2: Remove the duplicate rows from the dataframe.

In [6]:
df.drop_duplicates(inplace=True)
df.shape

(65437, 114)

### Step 4: Finding Missing Values
##### Task 3: Find the missing values for all columns.

In [7]:
missing_values = df.isnull()
print(missing_values)

       ResponseId  MainBranch    Age  Employment  RemoteWork  Check  \
0           False       False  False       False       False  False
1           False       False  False       False       False  False
2           False       False  False       False       False  False
3           False       False  False       False        True  False
4           False       False  False       False        True  False
...           ...         ...    ...         ...         ...    ...
65432       False       False  False       False       False  False
65433       False       False  False       False       False  False
65434       False       False  False       False       False  False
65435       False       False  False       False       False  False
65436       False       False  False       False        True  False

       CodingActivities  EdLevel  LearnCode  LearnCodeOnline  ...  \
0                 False    False      False             True  ...
1                 False    False      False            False  ...
2                 False    False      False            False  ...
3                  True    False      False            False  ...
4                  True    False      False            False  ...
...                 ...      ...        ...              ...  ...
65432             False    False      False             True  ...
65433             False     True       True             True  ...
65434             False    False      False            False  ...
65435             False    False      False            False  ...
65436              True     True       True             True  ...

       JobSatPoints_6  JobSatPoints_7  JobSatPoints_8  JobSatPoints_9  \
0                True            True            True            True
1               False           False           False           False
2                True            True            True            True
3                True            True            True            True
4                True            True            True            True
...               ...             ...             ...             ...
65432            True            True            True            True
65433            True            True            True            True
65434            True            True            True            True
65435           False           False           False           False
65436            True            True            True            True

       JobSatPoints_10  JobSatPoints_11  SurveyLength  SurveyEase  \
0                 True             True          True        True
1                False            False          True        True
2                 True             True         False       False
3                 True             True         False       False
4                 True             True         False       False
...                ...              ...           ...         ...
65432             True             True          True        True
65433             True             True          True        True
65434             True             True          True        True
65435            False            False          True        True
65436             True             True          True        True

       ConvertedCompYearly  JobSat
0                     True    True
1                     True    True
2                     True    True
3                     True    True
4                     True    True
...                    ...     ...
65432                 True    True
65433                 True    True
65434                 True    True
65435                 True    True
65436                 True    True

[65437 rows x 114 columns]

##### Task 4: Find out how many rows are missing in the column RemoteWork.

In [10]:
column_name = 'RemoteWork'
missing_count = df['RemoteWork'].isnull().sum()
print(f"Number of missing values in column '{'RemoteWork'}': {missing_count}")

Number of missing values in column 'RemoteWork': 10631

### Step 5. Imputing Missing Values
##### Task 5: Find the value counts for the column RemoteWork.

In [11]:
df.RemoteWork.value_counts().sum()

np.int64(54806)

##### Task 6: Identify the most frequent (majority) value in the RemoteWork column.

In [14]:
options = ['Hybrid (some remote, some in-person)', 'Remote', 'In-person']

most_freq = pd.Series(options)
most_freq_counts = most_freq.value_counts()
print("Most frequent value is", most_freq_counts.index[0])

Most frequent value is Hybrid (some remote, some in-person)

In [16]:
mode_value = df['RemoteWork'].mode()[0]
print(mode_value)

Hybrid (some remote, some in-person)

##### Task 7: Impute (replace) all the empty rows in the column RemoteWork with the majority value.

In [25]:
def impute_with_mode(df, RemoteWork):
    mode_value = df['RemoteWork'].mode()[0]
    df.fillna({'RemoteWork': mode_value}, inplace=True)
    return df

data = {'RemoteWork': ['Hybrid (some remote, some in-person)', 'Remote', 'In-person']}
df = pd.DataFrame(data)

df = impute_with_mode(df, 'RemoteWork')
print(df)

                             RemoteWork
0  Hybrid (some remote, some in-person)
1                                Remote
2                             In-person

##### Task 8: Check for any compensation-related columns and describe their distribution.

In [29]:
df['ConvertedCompYearly'].describe()

count    2.343500e+04
mean     8.615529e+04
std      1.867570e+05
min      1.000000e+00
25%      3.271200e+04
50%      6.500000e+04
75%      1.079715e+05
max      1.625660e+07
Name: ConvertedCompYearly, dtype: float64

### Summary

**In this lab, you focused on imputing missing values in the dataset.**

- Use the <code>pandas.read_csv()</code> function to load a dataset from a CSV file into a DataFrame.

- Download the dataset if it's not available online and specify the correct file path.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-29|1.2|Madhusudhan Moole|Updated lab|
|2024-09-27|1.1|Madhusudhan Moole|Updated lab|
|2024-09-26|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.